.container{
  width: 100%;
  padding: 40px 5%;
  background-color: whitesmoke;
}

.container .card-container{
  width: 100%;
  padding: 30px 0;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}